--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/company-search?facets=industry&keywords=apple
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="ulsn9akzu9CAXezKXAchIRLvAJCcUxsTB2hlWDCTGY", oauth_signature="XJg%2BTWSZNvVSdkkkDrscsrKQBk4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718472", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - 36A4R1MVHY
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - MAQvH6S+JRNQupbqhCsAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "companies": {
            "_count": 10,
            "_start": 0,
            "_total": 9758,
            "values": [
              {
                "id": 162479,
                "name": "Apple"
              },
              {
                "id": 19271,
                "name": "Apple Vacations"
              },
              {
                "id": 778626,
                "name": "Big Apple Holdings, Inc. dba Big Apple International Realty"
              },
              {
                "id": 112136,
                "name": "Apple & Associates"
              },
              {
                "id": 772044,
                "name": "Stone Apple Solutions"
              },
              {
                "id": 2135525,
                "name": "iSquare SA - Apple Authorised Distributor for Greece & Cyprus"
              },
              {
                "id": 2303504,
                "name": "Filex Apple Store & Support"
              },
              {
                "id": 3132552,
                "name": "Pennsylvania Apple Marketing Program"
              },
              {
                "id": 3075543,
                "name": "Computer Village Apple Specialist"
              },
              {
                "id": 3179177,
                "name": "iHouse - Apple Authorized Reseller"
              }
            ]
          },
          "facets": {
            "_total": 1,
            "values": [{
              "buckets": {
                "_total": 10,
                "values": [
                  {
                    "code": "96",
                    "count": 2359,
                    "name": "Information Technology and Services",
                    "selected": false
                  },
                  {
                    "code": "4",
                    "count": 1168,
                    "name": "Computer Software",
                    "selected": false
                  },
                  {
                    "code": "6",
                    "count": 557,
                    "name": "Internet",
                    "selected": false
                  },
                  {
                    "code": "3",
                    "count": 467,
   [...]
