--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/company-search?keywords=apple
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="8nCgAk0LCP2WHAiquO8KOLVosHOnQmZYaBumXZEzo4", oauth_signature="cW%2BMx41ZF7Yq7x57sr8TZUK6R%2BI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718472", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - NQ5QWHGM85
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - mAy3A6S+JROQS0tssSoAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "companies": {
            "_count": 10,
            "_start": 0,
            "_total": 9758,
            "values": [
              {
                "id": 162479,
                "name": "Apple"
              },
              {
                "id": 19271,
                "name": "Apple Vacations"
              },
              {
                "id": 778626,
                "name": "Big Apple Holdings, Inc. dba Big Apple International Realty"
              },
              {
                "id": 112136,
                "name": "Apple & Associates"
              },
              {
                "id": 772044,
                "name": "Stone Apple Solutions"
              },
              {
                "id": 2135525,
                "name": "iSquare SA - Apple Authorised Distributor for Greece & Cyprus"
              },
              {
                "id": 2303504,
                "name": "Filex Apple Store & Support"
              },
              {
                "id": 3132552,
                "name": "Pennsylvania Apple Marketing Program"
              },
              {
                "id": 3075543,
                "name": "Computer Village Apple Specialist"
              },
              {
                "id": 3179177,
                "name": "iHouse - Apple Authorized Reseller"
              }
            ]
          },
          "facets": {
            "_total": 1,
            "values": [{
              "buckets": {
                "_total": 10,
                "values": [
                  {
                    "code": "us:0",
                    "count": 2799,
                    "name": "United States",
                    "selected": false
                  },
                  {
                    "code": "gb:0",
                    "count": 775,
                    "name": "United Kingdom",
                    "selected": false
                  },
                  {
                    "code": "us:84",
                    "count": 355,
                    "name": "San Francisco Bay Area",
                    "selected": false
                  },
                  {
                    "code": "us:70",
                [...]
