--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/company-search?count=5&keywords=apple&start=5
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="drKgEUn0mbCTQA9oqbxyYieO1V6i7WSGnCV3KPeCc", oauth_signature="yZxJ%2F4CVcFu7NY5jpCQmrpvgQjY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718473", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - RLK2ULLL6T
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - GBe9O6S+JRMw7YQq9yoAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "companies": {
            "_count": 5,
            "_start": 5,
            "_total": 9758,
            "values": [
              {
                "id": 2135525,
                "name": "iSquare SA - Apple Authorised Distributor for Greece & Cyprus"
              },
              {
                "id": 2303504,
                "name": "Filex Apple Store & Support"
              },
              {
                "id": 3132552,
                "name": "Pennsylvania Apple Marketing Program"
              },
              {
                "id": 3075543,
                "name": "Computer Village Apple Specialist"
              },
              {
                "id": 3179177,
                "name": "iHouse - Apple Authorized Reseller"
              }
            ]
          },
          "facets": {
            "_total": 1,
            "values": [{
              "buckets": {
                "_total": 10,
                "values": [
                  {
                    "code": "us:0",
                    "count": 2799,
                    "name": "United States",
                    "selected": false
                  },
                  {
                    "code": "gb:0",
                    "count": 775,
                    "name": "United Kingdom",
                    "selected": false
                  },
                  {
                    "code": "us:84",
                    "count": 355,
                    "name": "San Francisco Bay Area",
                    "selected": false
                  },
                  {
                    "code": "us:70",
                [...]
