--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search?company-name=linkedin
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="TkuTVt34MgzfuheowxiWtlQzdNdJBfGwh8uNqwcDrS4", oauth_signature="TQsnrPLgwq6hrw4G9VaPwJIKW8o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1365631657", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089", oauth_version="1.0"
      X-Li-Format: 
      - json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - 0UF1FY9HHN
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Format: 
      - json
    body: 
      encoding: UTF-8
      string: |-
        {
          "numResults": 0,
          "people": {"_total": 0}
        }
  recorded_at: Tue, 04 Jun 2013 03:42:37 GMT
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search?company-name=IBM
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="mNsJnW3sRonegjOhHsnQ3VoyG37f1FsgcajfYLeyZP4", oauth_signature="qM58HnFmm4ic8jrW7bUogKDNGdk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718477", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - F4A18WPIKW
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - 2KKNGaW+JRMwc+ruXCsAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "numResults": 3241,
          "people": {
            "_count": 10,
            "_start": 0,
            "_total": 110,
            "values": [
              {
                "firstName": "Harshdeep",
                "id": "DesU-6nvpA",
                "lastName": "Singh"
              },
              {
                "firstName": "Randy",
                "id": "YgJqloC9Yr",
                "lastName": "Haven"
              },
              {
                "firstName": "Dino",
                "id": "9F6cDicHnG",
                "lastName": "Trevisani"
              },
              {
                "firstName": "Steven",
                "id": "Q5Bndp5ASV",
                "lastName": "Pothoven"
              },
              {
                "firstName": "Sandy",
                "id": "PubtFly4im",
                "lastName": "Carter"
              },
              {
                "firstName": "Teresa",
                "id": "wZZx2sChwA",
                "lastName": "Golden"
              },
              {
                "firstName": "Nancy H.",
                "id": "RC8YzBooPn",
                "lastName": "Wall/ PhD"
              },
              {
                "firstName": "Rajan",
                "id": "tApyGKHzVN",
                "lastName": "Krishnamurty"
              },
              {
                "firstName": "Allyson",
                "id": "zW7Am4HFmf",
                "lastName": "Hawkins Ward"
              },
              {
                "firstName": "Jean",
                "id": "_RpU5E6TF6",
                "lastName": "English"
              }
            ]
          }
        }
  recorded_at: Fri, 20 Sep 2013 23:07:57 GMT
recorded_with: VCR 2.5.0
