--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search:(people:(id,first-name,last-name,public-profile-url,picture-url),num-results)?first-name=Giliardi&last-name=Pires
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="XxYZ3yqoTFr792YTu6TmJPFCrrkZejwXkORldtyZGI", oauth_signature="cBkWRwhVxBDozgn5sCXBwGIoer4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1365631657", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089", oauth_version="1.0"
      X-Li-Format: 
      - json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Request-Id: 
      - G0J3Z1XF1E
      X-Li-Format: 
      - json
    body: 
      encoding: UTF-8
      string: |-
        {
          "numResults": 0,
          "people": {"_total": 0}
        }
  recorded_at: Tue, 04 Jun 2013 03:42:37 GMT
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search:(people:(id,first-name,last-name,public-profile-url,picture-url),num-results)?first-name=Charles&last-name=Garcia
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="fN0U3pBa4ed947y4pFhbY7G4uTtARSgE6XJKDMr6g", oauth_signature="3abTxJjcu3%2FXoPrM2QUWgAY%2FCx0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718476", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - CLK31R775E
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - ANZQAKW+JRNQtL/phCsAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "numResults": 382,
          "people": {
            "_count": 10,
            "_start": 0,
            "_total": 110,
            "values": [
              {
                "firstName": "Charles P.",
                "id": "29NUaI_I-9",
                "lastName": "Garcia",
                "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_u_fFG4ExLxBon7rsGXp4GseYLJGE9WTsmFRZGse7Vx9sdDnVh50IuVpTIqCvvm8nS8DJDj9JZqhM",
                "publicProfileUrl": "http://www.linkedin.com/in/charlespgarcia"
              },
              {
                "firstName": "Charles",
                "id": "jgSYHbEJfo",
                "lastName": "Garcia, CFA",
                "publicProfileUrl": "http://www.linkedin.com/in/charlesgarcia"
              },
              {
                "firstName": "Charles R.",
                "id": "1ZditNFf08",
                "lastName": "Garcia Jr.",
                "pictureUrl": "http://m.c.lnkd.licdn.com/mpr/mprx/0_UZ[...]
