--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search?first-name=Giliardi&last-name=Pires
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="eq8g0jFLe2FsDxO255PW6UqoZ8lwJAqiIJCm3qEKF8", oauth_signature="D1xMNnx7aOxDotnPt1mtEdbJPlU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1365631656", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Format: 
      - json
      X-Li-Request-Id: 
      - CH30LTU9DW
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: UTF-8
      string: |-
        {
          "numResults": 0,
          "people": {"_total": 0}
        }
  recorded_at: Tue, 04 Jun 2013 03:42:37 GMT
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search?first-name=Charles&last-name=Garcia
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="8cyM6h0OZPbDtPNrQ2J3JQ9Laysq6Xou1srYIcAMw", oauth_signature="KusJcKcP3Y4Rw9uQQlvX8mmD9R4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718475", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - NKJH5CYPUH
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - GAIz2qS+JROwEsXEGSsAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "numResults": 384,
          "people": {
            "_count": 10,
            "_start": 0,
            "_total": 110,
            "values": [
              {
                "firstName": "Charles P.",
                "id": "29NUaI_I-9",
                "lastName": "Garcia"
              },
              {
                "firstName": "Charles",
                "id": "jgSYHbEJfo",
                "lastName": "Garcia, CFA"
              },
              {
                "firstName": "Charles R.",
                "id": "1ZditNFf08",
                "lastName": "Garcia Jr."
              },
              {
                "firstName": "Charles",
                "id": "bKhr22Gq71",
                "lastName": "Garcia-Tobin"
              },
              {
                "firstName": "Charles",
                "id": "j_JTKIfNLg",
                "lastName": "Garcia"
              },
              {
                "firstName": "Charles",
                "id": "AC9by1OQ31",
                "lastName": "Garcia"
              },
              {
                "firstName": "Charles",
                "id": "zzhSrcS64P",
                "lastName": "Garcia"
              },
              {
                "firstName": "Charles",
                "id": "FBQu4s2Sj_",
                "lastName": "Garcia"
              },
              {
                "firstName": "Charles",
                "id": "zU4_gQs9Yb",
                "lastName": "Garcia"
              },
              {
                "firstName": "Charles",
                "id": "0llLQqqtgp",
                "lastName": "Garcia"
              }
            ]
          }
        }
  recorded_at: Fri, 20 Sep 2013 23:07:56 GMT
recorded_with: VCR 2.5.0
