--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/people-search?keywords=github
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="Sturmtse4QNeGY8FLhkXiAAueKCdoDaa71PktHiTIA0", oauth_signature="EXkUk457EN%2FEwDCLJazwDs7LiXE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379718474", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - S4RZCTI46Q
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - WF0DjaS+JRNwSY4e9yoAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "numResults": 781,
          "people": {
            "_count": 10,
            "_start": 0,
            "_total": 110,
            "values": [
              {
                "firstName": "Jeremy",
                "id": "qUs96Ofu0S",
                "lastName": "McAnally"
              },
              {
                "firstName": "Robert",
                "id": "eZYeXZED6M",
                "lastName": "Evans"
              },
              {
                "firstName": "private",
                "id": "private",
                "lastName": "private"
              },
              {
                "firstName": "Sean",
                "id": "hmdGbe3MF4",
                "lastName": "Heilweil"
              },
              {
                "firstName": "Tom",
                "id": "VXiyFRCLkk",
                "lastName": "Preston-Werner"
              },
              {
                "firstName": "Matthew",
                "id": "_nwnlIfu8z",
                "lastName": "McCullough"
              },
              {
                "firstName": "PJ",
                "id": "0MEJGTfK32",
                "lastName": "Hyett"
              },
              {
                "firstName": "Wynn",
                "id": "We2KzN_BkP",
                "lastName": "Netherland"
              },
              {
                "firstName": "Peter",
                "id": "rGwIr4xSyN",
                "lastName": "Bell"
              },
              {
                "firstName": "Tim",
                "id": "i69yMakuGn",
                "lastName": "Berglund"
              }
            ]
          }
        }
  recorded_at: Fri, 20 Sep 2013 23:07:55 GMT
recorded_with: VCR 2.5.0
