--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.linkedin.com/v1/companies/id=1586
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="IJBXincCoLmQM12hPvbXLxLkhRgPpE8qweexS6KyjGs", oauth_signature="FnoefDc8L5y4RY45uQXahN7IzE0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379722951", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - RL55108N3T
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - iBg0BbfCJRPwJsntXCsAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "id": 1586,
          "name": "Amazon"
        }
  recorded_at: Sat, 21 Sep 2013 00:22:32 GMT
- request: 
    method: get
    uri: https://api.linkedin.com/v1/companies/id=1586:(id,name,industry,locations:(address:(city,state,country-code),is-headquarters),employee-count-range)
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Li-Format: 
      - json
      Authorization: 
      - OAuth oauth_consumer_key="lo3q1nktmcks", oauth_nonce="Yr7oXvI7yrY0SlnovAkXYLxiYAm3TBHilR5KPk", oauth_signature="0gZ5ai41NnW70NDvLTu5I128cOY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379722952", oauth_token="d897e91f-12a6-4a3d-a73b-469e36285c5c", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Li-Request-Id: 
      - SS5RRHEJHO
      X-Li-Format: 
      - json
      Content-Type: 
      - application/json;charset=UTF-8
      X-Li-Fabric: 
      - PROD-ELA4
      X-Li-Pop: 
      - PROD-ELA4
      X-Li-Uuid: 
      - wPbrE7fCJRNw36e/6yoAAA==
    body: 
      encoding: US-ASCII
      string: |-
        {
          "employeeCountRange": {
            "code": "I",
            "name": "10001+"
          },
          "id": 1586,
          "industry": "Internet",
          "locations": {
            "_total": 1,
            "values": [{
              "address": {
                "city": "Seattle",
                "countryCode": "us",
                "state": "WA"
              },
              "isHeadquarters": true
            }]
          },
          "name": "Amazon"
        }
  recorded_at: Sat, 21 Sep 2013 00:22:32 GMT
recorded_with: VCR 2.5.0
